ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
}

a {
  text-decoration: none;
  color: white;
}

.spacer {
  flex: 1 1 auto;
}

.mat-toolbar{
  background: rgb(0, 0, 0);
}


.active {
  color: rgb(146, 255, 219);
}

.button {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: medium;
  font-weight: bold;
  border-radius: 10px;
}
