<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<mat-toolbar>
  <span>
    <a class="button" routerLink="/cars/list"><i class="fa fa-car" aria-hidden="true"></i> CAR SYSTEM </a>
  </span>
  <span class="spacer"></span>
  <ul>
      <a class="button" mat-button routerLink="/cars/add" routerLinkActive="active"><i class="fa fa-plus" aria-hidden="true"></i> Add Car </a>
      <a class="button" mat-button routerLink="/cartype/add" routerLinkActive="active"><i class="fa fa-plus" aria-hidden="true"></i> Add Type </a>
  </ul>

</mat-toolbar>
